body{
    margin:0;
    padding:0;
}
#textWrapper{
    text-align: center;
    background-color: white;
    padding-left: 20% ;
    padding-right: 20%;
    padding-top: 5%;
}
div{
    padding-bottom: 5%;
}
#topbar{
    background-color: lightblue;
    width: 100%;
    margin: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}
h1{
    text-decoration: underline;
}
h2{
    text-decoration: underline;
    letter-spacing: 2px;
}
p{
    font-size: 20px;
    letter-spacing: 2px;
}
img{
    max-width: 70%;
}
.Slide{display:none;}
#StartSlide{
    display: block;
}
button{
    height: 50px;
    width: 50px;
    margin: 5%;
}
.imgWrap{
    display: flex;
    justify-content: center;
    align-items: center;
}